<!DOCTYPE html>
<html>
<head>
  <title>ADPanel</title>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <h1>ADPanel</h1>
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" />
    <button type="submit">Upload</button>
  </form>
  <form action="/start" method="POST"><button type="submit">Start</button></form>
  <form action="/stop" method="POST"><button type="submit">Stop</button></form>
  <form action="/restart" method="POST"><button type="submit">Restart</button></form>
  <pre id="console"></pre>
  <script>
    const socket = io();
    const consoleOutput = document.getElementById('console');
    socket.on('log', data => {
      consoleOutput.textContent += data;
    });
  </script>
</body>
</html>
